div#body {
    background-image: url("../img/background.png");
}

.loader {
    background-image: url("../img/loader.gif");
    background-repeat: no-repeat;
    
    display: inline-block;
    
    width: 16px;
    height: 16px;
    line-height: 16px;
    
    vertical-align: text-top;
}

span.required,
div.errorMessage {
    color: #db002f;
}

.tab-content {
    background-color: #ffffff;
}

.channelStyle {
    background: #3a3a3a;
    color: #fff;
}

.buttonStyle {
    background: #eaeaea;
    
    color: #777;
}

  .likeButton
, .likeButton:hover {
    background-position-x: 16px;
    background-position-y: center;
    background-repeat: no-repeat;
}

.likeButton {
    background-image: url("../img/like.png");
    
    padding-left: 40px;
}

.likeButton:hover {
    background-image: url("../img/like-light.png");
}

  .unlikeButton
, .unlikeButton:hover {
    background-position: center;
    background-repeat: no-repeat;
}

.unlikeButton {
    background-image: url("../img/unlike.png");
}

.unlikeButton:hover {
    background-image: url("../img/unlike-light.png");
}