div#body {
    background-color: #f5f5f5;
}

.loader {
    background-image: url("../img/loader.gif");
    background-repeat: no-repeat;
    
    display: inline-block;
    
    width: 16px;
    height: 16px;
    line-height: 16px;
    
    vertical-align: text-top;
}

span.required,
div.errorMessage {
    color: #db002f;
}

.tab-content {
    background-color: #ffffff;
}

.channelStyle {
    background: #3a3a3a;
    color: #ffffff;
}

.buttonStyle {
    background: #eaeaea;
    
    color: #777777;
}

#unsubscribeButton {
    background-color: #5eb95e;
    
    color: #ffffff;
}

#unsubscribeButton:hover {
    background: #3a3a3a;
    
    color: #ffffff;
}

  .likeButton
, .likeButton:hover 
, .unlikeButton
, .unlikeButton:hover
, .signalButton
, .signalButton:hover {
    background-position: center;
    background-repeat: no-repeat;
}

  .likeButton
, .unlikeButton {
    float: left;
}

  .likeButton
, .likeButton:hover {
    background-position-y: center;
    background-position-x: 10px;
    
    border-right: 1px solid #777777;
}

.likeButton {
    background-image: url("../img/icon-like.png");
    
    padding-left: 32px;
}

.likeButton:hover {
    background-image: url("../img/icon-like-white.png");
}

.likeButton.active {
    background-color: #5eb95e;
    background-image: url("../img/icon-like-white.png");
    
    color: #ffffff;
}

.likeButton.active:hover {
    background-color: #3a3a3a;
    background-image: url("../img/icon-like-white.png");
    
    color: #ffffff;
}

.unlikeButton {
    background-image: url("../img/icon-unlike.png");
}

.unlikeButton:hover {
    background-image: url("../img/icon-unlike-white.png");
}

.unlikeButton.active {
    background-color: #db002f;
    background-image: url("../img/icon-unlike-white.png");
}

.unlikeButton.active:hover {
    background-color: #3a3a3a;
    background-image: url("../img/icon-unlike-white.png");
}

.signalButton {
    background-image: url("../img/icon-signal.png");
}

.signalButton:hover {
    background-image: url("../img/icon-signal-white.png");
}

#likes-unlikes {
    width: 250px;
}