.center {
    margin-left: auto;
    margin-right: auto;
}

.noMargin {
    margin: 0px;
}

.noPadding {
    padding: 0px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.displayNone {
    display: none;
}